* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* *{
    outline: 3px solid limegreen !important;
    background: rgba(0, 151, 0, 0.1) !important;
} */


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 25;
    background-color: rgb(73, 74, 81);
    padding: 40px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.nav-wrapper{
display: inline-block;
list-style-type: none;
font-size: 30px;
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 50px;
    background-color: lightblue;
    color: rgb(73, 74, 81);
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
}


.header a {
    color: lightblue;
    text-underline-offset: 10px;
}

.shovel {
    position: relative;
    text-align: right;
    height: 200px;
    max-width: 100%;
    background-image: url("../images/IMG_6343.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.Noah {
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: lightblue;
    z-index: +1;
    color: rgb(73, 74, 81);
    padding: 15px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fun {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: space-around;
position: relative;
border: 5px solid black;
margin: 5px;
}

.about {
    font-size: 50px;
    color: rgb(73, 74, 81);
    margin-right: 25px;
}

/* .about::after {
    content: "";
    width: 5px;
    height: 100%;
    position: relative;
    border: 5px solid black;
    top: 0;
    left: 10px;} */


.start {
    padding: 10px;
    margin-top: 0%;
    width: 60%;
}

.ind-work {
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: 100%;
}


.work {
    font-size: 50px;
    color: rgb(73, 74, 81);
    display:inline-block
}

/* .work::after {
    content: "";
    width: 5px;
    height: 100%;
    position: relative;
    border: 5px solid black;
    top: 0;
    left: 10px;
} */

.projects {
display: flex;
position: relative;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
/* width: 60%; */
}

.study-guide{
    text-align: center;
flex-grow: 2;
flex-shrink: 1;
flex-basis: 700px;
width: max-content;
}

#blue-img{
    height: auto;
    width: 400px;
}

#red-img{
height: auto;
width: 200px;
}

#yellow-img{
    height: auto;
    width: 200px;
}

.end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-width: 100%;
    border: 5px solid black;
    position: relative;
}

section nav ul li{
    display: inline-block;
    padding: 5px;
    width: 60%;
}

.contact {
    margin-right: 50%;
    font-size: 50px;
    color: rgb(73, 74, 81);
}

.find {
    text-align: right;
    font-size: 25px;
    color: rgb(73, 74, 81);
    list-style-type: none;
    flex-direction: column;
    display: inline-block;
}

.find a {
    color: rgb(73, 74, 81);
}